.container {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    display: flex;
}

.editorContainer {
    width: 100%;
    min-width: 0;
}

.questionContainer {
    flex-shrink: 0;
}

.verticalSeparator {
    cursor: col-resize;
    width: 8px;
    transition: background-color 0.1s ease;
}
.verticalSeparator:hover {
    background-color: #ffa500;
}
