.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 8px;
}

.toolbar {
    padding: 4px;
    display: flex;
    justify-content: space-between;
}

.editor {
    flex: 1;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}

button {
    width: fit-content;
}

.submitButton {
    background-color: #ffa500;
}

.runButton {
    background-color: black;
    color: white;
}
