.container {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 8px;
    align-items: center;
}

.passwordRulesContainer ul {
    list-style-position: outside;
    padding-inline-start: 2em;
}
